
# security
.env
.env.*
.editorconfig
.git
.gitignore

# javascript/typescript
node_modules

# npm (note: in future .npmrc may be required for docker builds)
.npmrc
npm-debug.log

# yarn (v3)
.yarn/cache
.yarn/sdks
.yarn/install-state.gz
yarn-error.log

# docker
Dockerfile*
.docker-compose.*
docker

# project builds & configs
dist
cdk.out
db-dumps
.next
cdk.json

# project workflow
.draft
tmp
examples
notes
wip

# project scripts
scripts

# ide's & editors
.vscode
.idea
_.sublime-*

# macos
.DS_Store

# misc
README.md
LICENSE
tools
coverage

#.prettierrc*

